body {
    font-family: 'Arial', sans-serif;
    background-color: #11111e;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background-image: url("images/bg1.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    
}

nav {
    border-bottom: 2px solid rgba(137, 3, 177);
    padding-top: 4px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 1));
}

.logo {
    background-color: rgba(0, 0, 0, 0.2); 
    padding-bottom: 4rem; 
    padding-top: 10rem;     
}

.logo h1 {
    color: #ffd700;
    text-shadow:
        0 0 5px rgba(255, 215, 0, 0.6),
        0 0 10px rgba(255, 215, 0, 0.4);
    margin: 0;
    font-size: 2.5rem;
}

.logo p {
    color: #ffffff;
    text-shadow:
        0 0 5px rgb(255, 0, 0),
        0 0 10px rgb(255, 0, 0);
    margin-top: -1rem;
    font-weight: bold;
    font-size: 1.25rem;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 1rem 0;
}

nav a {
    color: #E0E0E0;
    text-decoration: none;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: background 0.3s;
}

nav a:hover, nav a.active {
    background-color: #6A0DAD;
    color: #FFFFFF;
}

main {
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

h2 {
    color: #C724B1;
    border-bottom: 2px solid #6A0DAD;
    padding-bottom: 0.5rem;
}

.btn {
    display: inline-block;
    background-color: #6A0DAD;
    color: #FFFFFF;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    text-decoration: none;
    margin-top: 1rem;
    transition: background 0.3s;
}

.btn:hover {
    background-color: #8B008B;
}

.news-card, .character-card, .lore-card {
    background-color: #0F0F1B;
    padding: 1rem;
    margin: 1rem 0;
    border-left: 4px solid #FFD700;
    border-radius: 4px;
}

footer {
    background-color: #0F0F1B;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
    border-top: 2px solid #6A0DAD;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #1e1e1e;
}

::-webkit-scrollbar-thumb {
    background: #bb86fc;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #9b5cff;
}